entrypoint = "main.py"
modules = ["python-3.11", "web"]

[nix]
channel = "stable-25_05"
packages = ["borgbackup", "cacert", "glibcLocales", "libxcrypt", "openssl", "pkg-config", "postgresql", "xsimd"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]
deploymentTarget = "autoscale"

[agent]
expertMode = true

[userenv]

[userenv.shared]
ALPACA_API_KEY = "PKBMA4QCKGXNJFDIWJMKMEOKX3"
ALPACA_SECRET_KEY = "https://paper-api.alpaca.markets/"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3.11 main.py"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80
